################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nick.WebSite.API
/Nick.WebSite.Service
