<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Assets/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Assets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/Assets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Assets/css/vertical-layout-light/style.css">
    <!-- endinject -->
    @*<link rel="shortcut icon" href="~/Assets/images/favicon.png" />*@
</head>
<body>
    <div class="container-scroller">
        @RenderBody()
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Assets/js/off-canvas.js"></script>
    <script src="~/Assets/js/hoverable-collapse.js"></script>
    <script src="~/Assets/js/template.js"></script>
    <script src="~/Assets/js/settings.js"></script>
    <script src="~/Assets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>
